@{
    Layout = "_Layout";
}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <a style="font-size: 4rem; text-decoration: none;" class="bx bx-chevron-left" href="/kanban/list"></a>
                    <h1>Criar tarefa</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form name="frmCreate" method="post" action="/Kanban/Create" validate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" name="Title" id="txtNome" required>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Descrição</label>
                        <textarea class="form-control" name="Description" id="txtDescription" required></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Tempo estimado (min)</label>
                        <input type="number" class="form-control" placeholder="Tempo estimado" name="EstimatedTime" id="txtEstimatedTime" required>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12" style="display: flex; justify-content: center;">
                        <button id="submit" type="submit" name="submit" class="btn btn-primary" style="width: 25rem; height: 4rem; font-size: 1.8rem;">Criar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>