@{
    Layout = "_Layout";
}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Kanban</h1>
                    <a href="/Kanban/Create" class="btn btn-default" style="width: 25rem; height: 4rem; font-size: 1.8rem;">Criar Tarefa</a>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <table>
                <tr style="border: 1px solid black">
                    <th></th>
                    <th>Nome</th>
                    <th>Tempo estimado</th>
                    <th>Estágio</th>
                    <th></th>
                </tr>
                @foreach (var item in @Model)
                {
                <tr>
                    <td>
                        <a href="/kanban/edit/@item.Id">Editar</a>
                    </td>
                    <td>@item.Title</td>
                    <td>@item.EstimatedTime</td>
                    <td style="color: @item.Stage.Color; font-weight: bold;">@item.Stage.Name</td>
                    <td>
                        <a href="/kanban/Delete/@item.Id" style="color: red; font-weight: bold;">Apagar</a>
                    </td>
                </tr>
                }
            </table>
        </div>
    </div>
</div>
<hr>