@{
    Layout = "_Layout";
}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Editar Stage</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form name="frmCreate" method="post" action="/Stages/Edit" validate>
                <input type="hidden" value="@Model.Id" name="Id"/>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Nome</label>
                        <input type="text" class="form-control" value="@Model.Name" placeholder="Nome" name="Name" id="txtNome" required>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Color</label>
                        <input type="color" class="form-control" value="@Model.Color" placeholder="Color" name="Color" id="txtColor" required style="width: 5rem; height: 5rem; padding: 3px;">
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Sort</label>
                        <input type="number" class="form-control" value="@Model.Sort" placeholder="Sort" name="Sort" id="txtSort" required>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12" style="display: flex; justify-content: center;">
                        <button id="submit" type="submit" name="submit" class="btn btn-default" style="width: 25rem; height: 4rem; font-size: 1.8rem;">Editar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>